*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
:root{
    --primary:#e7332b;
}

a{
    text-decoration: none;
}
body{
    display: flex;
    flex-direction: column;
}
header{
    padding: 12%;
    margin: auto;
}
main{
    padding: 5%;

}
/* this is Main */
#section1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    text-align: center;
}
#section1 p{
    margin: 5% 0;
}
#section1 div{
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
}
#section1 div button{

    padding: 2% 5%;
}
#btn1{
    background-color: var(--primary);
    border: none;
    margin-right: 2%;
    color: white;
}
#btn1:hover{
    background-color: white;
    border: 1px solid var(--primary);
    color: var(--primary);
}
#btn2{
    background: none;
    border: 1px solid var(--primary);
    color:var(--primary);

}
#btn2:hover{
    background-color: var(--primary);
    color:white;
}
/* Section2 */
#section2 #center{
    text-align: center;
}
#section2 div{
    margin-top: 10%;
}
#section2  p{
    margin: 5% 0;
}
footer{
    margin: 15% 1%;
    display: flex;
    flex-direction: column;
}
footer #main-footer{
    display: flex;
    justify-content:space-around;
    align-items: flex-start;
    padding-bottom: 15%;
    margin-bottom: 5%;
    border-bottom: 1px solid grey;
    
}
footer ul li{
    list-style: none;
}
 .social img{
    height: 18px;
}

 footer #copyright{
    margin: auto;
}
/*media query for mobile- 1000px*/
@media screen and (max-width:850px){
    #section1 div{
        display: flex;
        flex-direction: column;
    }
    #section1 div a{
        padding: 1rem;
    }
    #btn1{
         margin:1rem ;
        }
    footer #main-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: space-between;
    }
    #shorten{
        text-align: center;
        width: 50%;
    }
}